includes:
  - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
        - database
        - routes
        - config
    excludePaths:
        - vendor
        - tests
        - storage
        - node_modules
    level: 5
    ignoreErrors:
