@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: #0f172a;
    --color-background-light: #1e293b;
    --color-text: #cbd5e1;
    --color-petrol: #16817b;
    --color-blue-accent: #4369b2;
    --color-turquoise-accent: #3bc9b5;
    --color-button: #1e4db7;

    --spacing: 1rem;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer components {
    .btn-light-header {
        @apply py-[5px] px-[10px] w-fit rounded-lg text-lg bg-text text-background-light shadow-md;
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

[data-flux-input] svg[data-flux-icon] {
    width: 1.5em !important;
    height: 1.5em !important;
    min-width: 0;
    min-height: 0;
    max-width: 1.5em;
    max-height: 1.5em;
}

[data-flux-button] {
    /* Your custom styles here */
    width: 1.5rem !important;
    height: 1.5rem !important;
    padding: 0 !important;
}
